body {	
	background-color: #FAECE1 !important;
	color: #015738;
}

.lsp-content {
	min-height: calc(100vh - 30rem) !important;
	display: flex;
	_background-color: rgba(255,0,0,0.15) !important;
}

.lsp-footer {
	min-height: 10rem !important;
}

.lsp-flex-justify-content {
	display: flex;
	justify-content: center;
	    flex-wrap: wrap;
}

.lsp-flex-align-items {
	display: flex;
	align-items: center;
}
.row-flex {
	margin: auto 0;
	min-width: 100%
}

.carousel-inner {
	display: flex;
}
.crop-grid {
	border-bottom: solid 1px #015738;
	margin-bottom: 2rem;
}
		
		

.navbarStyle {
	background-color: #00a1a1;
	position: -webkit-sticky; 
 	position: sticky;
  	top: 0;
}
.logoNavbar {
	position: relative;
	top: -50%;
	margin-right: 1rem;
}
.navbar-brand {
	color: #FAECE1 !important;
}
.deco-icon > a {
    padding-top: 13.5px !important;
    padding-bottom: 13.5px !important;
}








.footer-decoration {
	margin-top: 2rem;
	min-height: 4rem;
	background-color: #00a1a1;
}

.footer-content {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}
.footer-element {
	margin: 2rem;
	min-width: 200px;
}

.footer-img {
	max-width: 10rem;
	max-height: 10rem;
}





.slider.slider-horizontal {
       width: 97%;  
}       
.slider2 {
	
	margin-left: 2rem !important;
}  
.square-200-img {
	max-width: 200px;
	max-height: 200px;
}    

.btn-success {
	color: #FAECE1;
	background-color: #00a1a1;
	border-color: #00a1a1;
}
.slider-handle {
	background-image: linear-gradient(to bottom,#00a1a1 0,#008b8b 100%) !important;
}
.margin-top-2rem {
	margin-top: 2rem;
}
.panel-success > .panel-heading {
	background-color:#00a1a1;
	border-color: #00a1a1;
	color: #FAECE1;
}


.catalog-item {
	margin: 2rem 2rem;
	_padding: 7rem 10rem 0 7rem;
	padding-top: 20rem;
	border: 1px solid #00a1a1;
	border-radius: 8px;
	box-shadow: 2px 2px 3px grey;
	width: 330px;
	
}      
.catalog-item > img {
	border: 1px solid #00a1a1;
	border-radius: 5px; 
}  
.catalog-item > div {
	background-color: rgba(250,236,225,0.7);
	width: 25rem;
	padding: 0.5rem 5rem 0.5rem 5rem;
	width: 100%;
	border-radius: 0 0 8px 8px;
}

.user-subscription-display {
	_border: #00a1a1 2px solid;
	border-radius: 4px;
	margin: 1rem 0;
	padding: 1rem 2rem;
	background: rgba(0,161,161,0.5);
}
.user-subscription-display.past {
	background: rgba(126,126,126,0.5);
}
.user-subscription-display.future {
	background: rgba(50,50,50,0.1);
}

.lsp-padding-1rem {
padding: 1rem !important;
}

.lsp-vertical-padding-1rem {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.lsp-width-100 {
width: 100% !important;
}

.lsp-top-1rem {
position: relative !important;
top: 1rem !important;
}